.text-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    opacity: 1
}

.partners-ul img {
    max-height: 40px;
}

.header-text h1 {
    padding-top: 0 !important;
    margin-top: 0
}

.uiot h1 {
    font-size: 3em;
    padding-top: 0 !important;
    margin-bottom: 30px;
    line-height: 1.1;
    font-weight: lighter
}

.uiot p.highest {
    font-size: 1.4em;
    line-height: 1.6;
    margin-bottom: 120px;
    font-weight: normal
}

blockquote, body, .tags, ul.right, ul.right li a, p.highest, h1, h2, h3, h4, h5, h6 {
    font-family: 'proxima-nova', 'Helvetica Neue', 'Roboto', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    line-height: 1;
    font-weight: 100
}

.white-text {
    color: #FFF;
}

.highest {
    line-height: 24px;
    font-weight: 200
}

.header-text p {
    margin-bottom: 0 !important
}

.main-header.uiot .button {
    margin-top: 30px;
    padding: 1em 1.5em
}

.text-center {
    text-align: center !important
}

.main-header.uiot {
    margin-bottom: 4rem
}

.video-area {
    display: block;
    position: relative;
    height: 100%;
    margin-left: -10px;
    margin-top: -10px;
    width: 102%;
    background-size: cover !important;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 40s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    50% {
        -webkit-transform: scale3d(1.20, 1.20, 1.20);
        transform: scale3d(1.20, 1.20, 1.20);
    }

    to {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
}

.video-area video {
    position: absolute;
    width: 100%;
    height: 100%
}

.uiot-bar {
    margin-bottom: 0;
    height: 45px;
    overflow: visible !important
}

.top-bar-section ul li {
    background: none
}

.top-bar.transparent, .uiot .top-bar {
    position: absolute;
    background: none;
    width: 100%;
    z-index: 99;
    background: transparent;
}

.uiot-bar ul.title-area {
    margin-bottom: 0;
    position: relative;
    float: left;
    width: auto;
    display: none
}

.uiot-bar ul.title-area li.name h1 {
    display: inline-block;
    padding: 0;
    line-height: 18px;
    margin-top: 0;
    margin-left: 20px
}

.uiot-bar ul.title-area li.name a {
    display: inline-block;
    color: #fff;
    padding: 10px
}

.top-bar .name {
    height: 45px;
    margin: 0;
    font-size: 16px
}

.uiot-bar ul.right {
    margin-bottom: 0
}

.top-bar.transparent ul.right, .uiot .top-bar ul.right {
    background: none
}

.uiot-bar ul.right li {
    display: block;
    float: left
}

.top-bar.transparent ul.right li a, .uiot .top-bar ul.right li a {
    padding: 0 16px;
    border-left: 1px solid rgba(0, 0, 0, 0);
    background: none;
    font-weight: 600
}

.uiot-bar ul.right li a:hover {
    background: rgba(250, 250, 250, 0.15) !important
}

.uiot-bar ul.right li a {
    color: #fff;
    font-size: 13px;
    line-height: 45px;
    display: block;
    padding: 0 15px;
    border-left: 1px solid #4d4d4d
}

.top-bar .top-bar-section ul.right li a:hover {
    color: #FFF
}

@media only screen and (min-width: 768px) {
    .uiot-bar ul.title-area {
        display: block !important;
    }
}

.uiot-bar ul.title-area li.name h1 a {
    background: url(../img/uiot-final.svg) no-repeat !important;
    width: 110px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
    opacity: .75;
    filter: alpha(opacity=75);
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;
    padding: 0;
    text-rendering: auto;
}

hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25em 0 1.1875em;
    height: 0
}

hr.dotted {
    margin: 3em 0;
    border: 1px dashed #ddd !important
}

.blog-feature a {
    color: #333;
    text-align: center
}

.title a {
    font-weight: 300;
    font-size: inherit;
    color: #333
}

.blog-feature span.title a {
    font-weight: 100
}

.centered-text {
    text-align: center;
    font-weight: 200
}

#blog .centered-text {
    display: block;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 14px
}

.blog-feature span.title {
    display: block;
    margin-bottom: 5px;
    font-size: 2.25em;
    font-weight: 300
}

.blog-feature span.block-quote {
    display: block;
    line-height: 21px;
    font-size: 0.875em;
    font-weight: 400;
    color: #555;
    margin-bottom: 20px
}

.highest.large {
    font-size: 1.35rem
}

.callout.uiot-logos {
    margin-bottom: 0;
    padding: 50px 0
}

ul.partner-symbols {
    text-align: center;
    margin-bottom: 0
}

ul.partner-symbols li {
    display: inline-block;
    list-style: none
}

.bottom-40 {
    margin-bottom: 40px
}

ul.uiot-members {
    padding-bottom: 24px
}

ul.uiot-members li a {
    display: block;
    text-align: center;
    color: #333;
    font-size: 0.875em
}

ul.uiot-members li a user {
    border-radius: 3px;
    background: url(../img/Users.png) no-repeat;
    width: 104px;
    height: 104px;
    display: block;
    box-sizing: border-box;
    filter: grayscale(50%)
}

h3.light {
    font-weight: 400 !important
}

#map-canvas {
    width: 100%;
    height: 500px
}

.mark_label {
    height: 40px;
    width: 40px;
    margin-top: -10px;
    top: -10px;
    border-radius: 3px;
    background: url(../img/u-for-uiot.png)
}

.notable {
    background: #1E5688 !important;
    background-position-y: -40px;
    background-size: auto;
    background-position: 0 0;
    padding: 50px 0 50px 6px
}

.notable-cyan {
    background: #008099 !important;
    background-position-y: -40px;
    background-size: auto;
    background-position: 0 0
}

.benefits {
    padding: 50px;
    width: 100%
}

p {
    color: #777
}

.uiot-footer {
    padding: 40px 20px 40px 20px
}

.uiot-footer ul {
    margin: 0;
    display: inline-block
}

.uiot-footer li {
    display: block;
    float: left;
    margin-left: 0;
    text-transform: uppercase;
    font: 400 .875em 'proxima-nova', sans-serif
}

.uiot-footer li a {
    color: white;
    padding: 20px;
    font-size: 26px
}

.copyright {
    margin: 6px 0 0 6px;
    font-size: 16px;
    color: white
}

.copyright-text {
    font-size: 14px;
    color: white;
    margin: 6px 0 0 6px;
}

.user-modal {
    background: linear-gradient(180deg, #eee 100px, white 0%)
}

.u-button {
    background: #33a9ff;
    color: #fff
}

.a-button {
    background: #2976bb;
    color: #fff
}

.y-button {
    background: white !important;
    color: black !important
}

.user-modal h2 {
    display: inline-block
}

.label.secondary {
    color: #fff;
    background: #db5453
}

.uiot-logos ul.home-social {
    float: left;
    margin-left: 0
}

.uiot-logos ul.home-social li:first-child {
    margin-left: 0
}

.uiot-logos ul.home-social li img {
    height: auto
}

.uiot-logos ul.home-social li {
    list-style: none;
    display: table;
    float: left;
    padding-left: 0;
    width: auto;
    height: auto
}

blockquote {
    text-align: justify !important;
    font-weight: 200;
}

.text-justify {
    text-align: justify !important;
}

#user-modal .highest {
    margin-top: -10px
}

.main-header {
    overflow: hidden
}

#about .blog-feature {
    max-width: 90%
}

.background-blue {
    background: #6799C6
}

.background-big-blue {
    background: #2976bb
}

.background-pink {
    background: #cc7691
}

.network-blue {
    background: #6799C6 url(../img/network.png) no-repeat;
    background-size: cover
}

.background-gray {
    background: #F0F0E8
}

.background-light-gray {
    background: #f6f6f6
}

.background-weird {
    background: #008099
}

#uiot-graph {
    height: 500px !important;
    width: 100% !important;
    max-height: 800px !important;
    max-width: 100% !important;
    margin: auto
}

p.scroll-message {
    font-size: 1.25em;
    color: white;
    position: relative;
    text-align: center;
    font-weight: normal;
    margin-top: -50px;
    line-height: 1.6;
    margin-bottom: 120px;
}

.about-section {
    background-size: cover !important;
    position: relative;
    padding: 2.5rem 0 4.5rem;
    text-align: center;
    overflow: visible;
}

.about-section .without-nav {
    padding-bottom: 2.5rem;
}

.about-section p {
    color: #fff;
    margin-top: 10px;
    font-size: 1.3em;
    line-height: 1.5em;
}

.about-section .link {
    text-align: center;
    color: #fefefe;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 0.8em;
}

.light {
    font-weight: 200 !important;
}

.top-headlines {
    margin-top: 50px;
}

.about-section h1, .about-section h3, .about-section h4 {
    color: #fff;
}

.about-section li a.is-active {
    background: rgba(250, 250, 250, 0.15);
}

.about-section li a:hover {
    background: rgba(250, 250, 250, 0.15);
}

.about-section a {
    color: #fff;
}

.about-section h1 {
    font-size: 3em;
    line-height: 1.0;
    font-weight: 300;
}

.about-section .without-header-h1 {
    font-size: 2.875rem;
    text-align: center;
    color: #fefefe;
    margin: 0;
}

.about-section li a {
    padding: 0.9rem 1rem 0.75rem;
    font-size: 15px;
    color: #fff;
    font-family: 'proxima-nova-condensed', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    display: block;
    letter-spacing: 1px;
    font-weight: 600;
}

.about-section li {
    float: none;
    display: inline-block;
}

.about-section ul {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
}

.big-row {
    max-width: 82.5rem !important;
}

.partners-ul {
    text-align: center;
    margin-bottom: 0
}

.partners-ul li {
    display: inline-block;
    margin: 15px;
    list-style: none
}

@font-face {
    font-family: 'proxima-nova';
    src: url(../fonts/ProximaNova-Reg-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'proxima-nova';
    src: url(../fonts/ProximaNova-Light-webfont.woff) format("woff");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: 'proxima-nova';
    src: url(../fonts/ProximaNova-Bold-webfont.woff) format("woff");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'proxima-nova-condensed';
    src: url(../fonts/proximanovacond-light-webfont.woff) format("woff");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: 'proxima-nova-condensed';
    src: url(../fonts/proximanovacond-regular-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'proxima-nova-condensed';
    src: url(../fonts/proximanovacond-bold-webfont.woff) format("woff");
    font-weight: bold;
    font-style: normal
}