<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
            <mimeMap fileExtension=".m4v" mimeType="video/m4v"/>
            <mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
            <mimeMap fileExtension=".json" mimeType="application/json"/>
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
            <mimeMap fileExtension=".ttf" mimeType="application/octet-stream"/>
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
            <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
        </staticContent>
        <rewrite>
            <rules>
                <clear/>
                <rule name="Redirect to https" stopProcessing="true">
                    <match url="(.*)"/>
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent"
                            appendQueryString="false"/>
                </rule>
                <rule name="Blog Admin Folder" stopProcessing="true">
                    <match url="(.*)"/>
                    <conditions>
                        <add input="..." pattern="^blog/admin/" ignoreCase="true"/>
                        <add input="..." pattern="^blog/content/private/" ignoreCase="true"/>
                        <add input="..." pattern="^blog/themes/" ignoreCase="true"/>
                        <add input="..." pattern="^blog/languages/" ignoreCase="true"/>
                        <add input="..." pattern="^blog/plugins/" ignoreCase="true"/>
                        <add input="..." pattern="^blog/content/tmp/" ignoreCase="true"/>
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration> 